<h4>Hi everyone</h4>
<p>This is my repository with the Angular course on Udemy</p>
<p>This repository will be separated into branches corresponding with chapters in this course</p>
<p>That's all the things I want to say :)))</p>
<p>Hope you enjoy</p>
<span><a href="https://www.evernote.com/shard/s460/sh/0e0d6ff0-cc39-2c7c-d558-9060cb55d961/97dd0745d473fd4200049d585bb54926" target="_blank">Doc-Angular</a></span>
